@charset "UTF-8";

/*　ページの背景設定　*/
html{
    height: 100vh;
    background-color: rgb(205, 228, 249);
    background-image: url(../images/index_background.jpg);
    background-position: center center;
    background-repeat: repeat;
    overflow-y: scroll;
}

/*　ページの設定　*/
body {
    height: 100%;
    width: 100%;
    font-family: "メイリオ", Meiryo;
    padding: 0px;
    margin: 0px;
    background-position: center top;
    justify-content: center;
}